.server-module-bg{
    width: 100wv;
    //height: 180px;
    padding: 10px;
    --background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--ion-color-step-100);
    border-radius: 10px;
    display: flex;
    flex-direction: column;


}
.bg-image-wrapper{
    width: 100wv;
    height: 250px;
    --background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--ion-color-step-100);
    border-radius: 10px;
}

.module-icon-wrapper{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content:center ;
    overflow: hidden;

}
.module-icon{
    // height: 20%;
    // width: 20%;
}

ion-toggle {
    height: 26px;
    width: 46px;
    --handle-height: 100%;
    --handle-width:26px;
    --background-checked: #63F58C;
    --handle-background-checked: rgb(255, 255, 255);

  }

  .server-channel-dropdown{
    height: 50px;
    width: 100%;
    background-color: var(--ion-color-step-100) ;
    border-radius: 8px;
    border: 1px solid var(--ion-color-step-600);
    padding-left: 10px;
    &:focus-visible {
        outline: none;
    }
}

.MuiSwitch-colorSecondary.Mui-checked {
    color: #FFFFFF !important;
}
.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #63F58C !important;
    opacity: 1 !important;
}
.MuiSwitch-track {
    background-color: var(--ion-color-step-600) !important;
}
