.staking-wrapper {
    .font-geomanist-monospace {
        font-family: Geomanist, monospace !important;
    }
    .forge-text-animation {
        background-image: linear-gradient(135deg, #fc3, #e233ff);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .connect-wallet {
        border-radius: 5px;
        cursor: pointer;
        background-color: #8932e8;
    }
    .bg-sections-bslgray {
        min-width: 275px;
        --tw-bg-opacity: 1;
        background-color: rgba(10, 12, 46, var(--tw-bg-opacity));
        .bsl-red-gradient {
            background: linear-gradient(93.82deg, #ff7f23 15.86%, #e974b1 59%, #ff2a0d 126.3%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .bsl-blue-gradient {
            background: linear-gradient(90deg, #4b68ff, #4bc4df 3.13%, rgba(70, 89, 255, 0.91));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .bsl-green-gradient {
            background: linear-gradient(90deg, #4b68ff, #dfa44b 2.61%, rgba(70, 255, 177, 0.91));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    // model css
    .staking-model {
        .wallet-bg {
            background-color: #131313;
        }
    }
}

.tab-btn {
    border-radius: 5px;
    cursor: pointer;
    // background-color: #8932e8;
    background-image: linear-gradient(to right, #924cfa, #009aee, #01a375);
}