.TVChartContainer {
    height: calc(100vh - 30vh);
    
    @media screen and(max-width:425px) {
        width: 360px;    
        padding-left: 0 !important;
    }
    @media screen and(max-width:414px) {
        width: 400px;    
        padding-left: 0 !important;
    }
    @media screen and(max-width:393px) {
        width: 375px; 
        padding-left: 0 !important;   
    }
    @media screen and(max-width:375px) {
        width: 350px; 
        padding-left: 0 !important;   
    }
    @media screen and(max-width:360px) {
        width: 350px; 
        padding-left: 0 !important;   
    }
    @media screen and(max-width:320px) {
        width: 280px;    
        padding-left: 0 !important;
    }
}
.foxTokenCharts {
    @media screen and(max-width:768px) { 
        padding-left: 0 !important;
    }
    @media screen and(max-width:425px) { 
        padding-left: 0 !important;
    }
    @media screen and(max-width:360px) {
        padding-left: 0 !important;
    }
    @media screen and(max-width:320px) {
        padding-left: 0 !important;
    }
}

.MuiTableCell-paddingNone:last-child {
    @media screen and(max-width:425px) {
        padding: 0 !important;
    }
    @media screen and(max-width:1000px) {
        padding: 0 !important;
    }
}
.default-chart-theme{
    background-color: #0D0E25 !important;
}