 .MuiInput-underline:hover {
    transition-duration: 0.01s ;
    line-height: 31px ;
    border-radius: 30px ;
    border: 2px solid rgba(171, 171, 171, 0.876) ;
}
.MuiInput-underline:focus-within {
    transition-duration: 0.001s ;
    line-height: 31px ;
    border-radius: 30px ;
    border: 2px solid rgba(171, 171, 171, 0.876) ;
}
.MuiInput-underline {
    transition-duration: 0.001s ;
    line-height: 31px ;
    border-radius: 30px ;
    border: 2px solid rgba(171, 171, 171, 0.876) ;
}
.MuiInput-underline:after {
    border-bottom: 0 !important;
}
.MuiInput-underline:before {
    border-bottom: 0 !important;
}
