
#welcome ul li, #security ul li{
    padding: 5px 0;
}
.iosButton,.androidButton {
    height: 54px;
}


@media screen and (min-width: 440px) {
    .iosButton,.androidButton {
        height: 66px;
    }
    .iosButton img,.androidButton img{
        height: 100%;
    }
}
