.chart-width {
    
    @media screen and(max-width:425px) {
        width: 360px;    
        padding-left: 0 !important;
    }
    @media screen and(max-width:414px) {
        width: 400px;    
        padding-left: 0 !important;
    }
    @media screen and(max-width:393px) {
        width: 375px; 
        padding-left: 0 !important;   
    }
    @media screen and(max-width:375px) {
        width: 350px; 
        padding-left: 0 !important;   
    }
    @media screen and(max-width:360px) {
        width: 350px; 
        padding-left: 0 !important;   
    }
    @media screen and(max-width:320px) {
        width: 280px;    
        padding-left: 0 !important;
    }
}
.calendarCharts {
    @media screen and(max-width:768px) { 
        padding-left: 0 !important;
    }
    @media screen and(max-width:425px) { 
        padding-left: 0 !important;
    }
    @media screen and(max-width:360px) {
        padding-left: 0 !important;
    }
    @media screen and(max-width:320px) {
        padding-left: 0 !important;
    }
}

.MuiTableCell-paddingNone:last-child {
    @media screen and(max-width:425px) {
        padding: 0 !important;
    }
    @media screen and(max-width:1000px) {
        padding: 0 !important;
    }
}
.default-chart-theme{
    background-color: #212838 !important;
}

// .foxtoken-table{
//     .css-1auzxtt-Table tbody tr td:first-of-type{
//         padding: 0px !important;
        
//         div{
//             button{
//                 padding:0px 8px
//             }
//             // margin: 0px 10px;
//             // width: 100% !important;
//         }
//     }
// }

.cancel-icon{
        position: absolute !important;
    right: 15px !important;
    top: -14px !important;
    background: #c9c9ca;
    color: #0052ff !important;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}