/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #541B6C;
    border-radius: 100vh;
    border: 2px solid #1E1B27;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1F1932;
}

.up {
    position: fixed;
    width: 100%;
    left: 50%;
    bottom: 40px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: green;
}