
.image {
	@apply rounded-full h-12 w-12 flex-shrink-0;
}


/* make the modal bigger */
.modal-wrapper {
    --width: 90vw;
    --height: 75%;
	--max-width: 1280px;
}

.media > img,
.media > video {
    @apply max-w-sm;
}

.searched_word {
	color: #00d0ff
}