.left-content-wrapper {
    .text-wrapper {
        font-family: Geomanist, monospace !important;
    }
}

.right-content-wrapper {
    font-family: Geomanist, monospace !important;
    .c-block-bg {
        background-color: rgba(255, 255, 255, 0.1);
    }
}