.firebase-emulator-warning {
	display: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.greenPctChange{
    color: #2dd36f;
}
.redPctChange{
    color: red;
}

.small-btn{
    height: 25px;
    width: 200px;
    padding: 1px;
    font-size: 14px;
}
.big-emoji{
    font-size: 135%;
}

.me-logo{
    max-height: 18px;
}
